.icon-action-buttons-start { background-image: url(../images/start.png); }
.icon-action-buttons-finish { background-image: url(../images/finish.png); }
.icon-action-buttons-reject { background-image: url(../images/reject.png); }
.icon-action-buttons-accept { background-image: url(../images/accept.png); }
